<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.STart"
        tools:targetApi="31">

        <!-- 로그인 -->
        <activity
            android:name=".ui.auth.login.LoginActivity"
            android:exported="false"
            android:theme="@style/Theme.Dream">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".ui.auth.login.LoginOrSkipActivity"
            android:exported="false"
            android:theme="@style/Theme.Dream.LightStatusBar">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>

        <!-- 회원가입 -->
        <activity
            android:name=".ui.auth.register.PolicyActivity"
            android:exported="false"
            android:theme="@style/Theme.Dream">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".ui.auth.register.ValidateStudentInfoActivity"
            android:exported="false"
            android:theme="@style/Theme.Dream">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".ui.auth.register.ValidatePasswordActivity"
            android:exported="false"
            android:theme="@style/Theme.Dream">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".ui.auth.register.ValidateSmsActivity"
            android:exported="false"
            android:theme="@style/Theme.Dream">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".ui.auth.register.ValidateStudentCardActivity"
            android:exported="false"
            android:theme="@style/Theme.Dream">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".ui.auth.register.RegisterCompleteActivity"
            android:exported="false"
            android:theme="@style/Theme.Dream.Background">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>

        <!-- 홈 -->
        <activity
            android:name=".ui.home.info.InfoActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".ui.splash.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".ui.home.HomeActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".ui.home.event.EventActivity"
            android:exported="false"
            android:theme="@style/Theme.STart.LightStatusBar">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".ui.home.festival.FestivalActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".ui.home.setting.SettingActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity> <!-- Google Maps API -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="${MAPS_API_KEY}" />
    </application>

</manifest>